.player{
    // height: 150vh;
     overflow: hidden;
     display: flex;
     flex-direction: column;
    &__details-container{
      display: flex;
      // justify-content: center;
      transition: .5s;
    }
    &__list-player-container{
      display: flex;
      transition: .5s;
      flex: 0 0 auto;
      // background-color: black;
      // width: 70%;
    }
    &__list-player-visible{
      // display: flex;
      // flex-basis: 80vw;
      // overflow: hidden;
      margin-top: -300px;
      max-width: 1100px;
      // background-color: black;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      z-index: 1;
      position: relative;
      height: 300px;
      // transition: .5s;
    }
    // &__list-player-bgc{
    //   background-color: black;
    //   width: 100vw;
    //   // position: absolute;
    //   // left: 0;

    // }
    &__list-player-ovh{
      overflow: hidden;
      width: 100%;
      height: 300px;
      // margin-bottom: 20px;
      display: flex;
      align-items: flex-end;
      // position: absolute;
      // top: -50px;
      // left: 0;
    }
}

.button-player{
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  z-index: 10;
  cursor: pointer;
  transition: .3s;
  &:hover{
    background-color: #ccc;
  }
}
.prev-player{
    position: absolute;
    top: 65%;
    left: -50px;
    transform: translateY(-50%);
  }
  .next-player{
    position: absolute;
    top: 65%;
    right: -50px;
    transform: translateY(-50%);
  }