@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@100;300;500&display=swap');


html{
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  
}

// ::-webkit-scrollbar {
//   width: 20px;
// }

// body{
//   scrollbar-width: thin;
//   scrollbar-color: $main-color white;
// }

// body::-webkit-scrollbar-track {
//   background: white;
// }

// body::-webkit-scrollbar-thumb {
//   background-color: $main-color ;
//   border-radius: 6px;
//   border: 3px solid $main-color;
// }

.wrapper{
min-height: 100vh;
display: flex;
flex-direction: column;
}