.next-game{
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-basis: calc(20%);
  &__title{
    flex-basis: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 20px 0;
    font-weight: 300;

    @include media(small){
font-size: 3rem;
    }

    @include media(medium){
font-size: 4rem;
    }

  }

  &__swap-icon{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    img{
      width: 100%;
    }

    @include media(xsmall){
width: 60px;
    height: 60px;
    }
    @include media(small){
width: 80px;
    height: 80px;
    right: 30px;
    }
  }

  &__info{
    flex-basis: 100%;
    text-align: center;
  }
  &__round{
    opacity: 50%;
    padding: 5px 0;
    font-size: 1.3rem;
  }
  &__date{
    padding: 10px 0;
     font-size: 1.6rem;
  }
  &__hour{
    padding: 10px 0;
    font-weight: bold;
    background-color: #ccc;
    width: 20%;
    max-width: 70px;
    margin: 0 auto;
    font-size: 1.5rem;
    border-radius: 20%;
  }

  &__result{
    font-weight: bold;
    font-size: 4rem;
    padding: 10px;
    background-color: $main-color;
    color: white;
    border-radius: 10px;
    letter-spacing: 2px;
  }

  &__match{
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  &__team{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
    flex-wrap: wrap;
    &-logo{
      width: 50px;
      height: 50px;

      @include media(xsmall){
        width: 100px;
      height: 100px;
      }

      @include media(medium){
        width: 150px;
      height: 150px;
      }

      @include media(large){
        width: 192px;
      height: 192px;
      }
    }
    &-name{
      margin-top: auto;
      flex-basis: 100%;
      text-align: center;
      margin-top: 20px;
      font-weight: 300;
      font-size: 1rem;

        @media (min-width: 350px) {
        font-size: 1.2rem;
      }

      @media (min-width: 400px) {
        font-size: 1.6rem;
      }

      @include media(small){
        width: 192px;
      height: 192px;
      font-size: 2rem;
      }
    }
  }
  &__hall-info{
    flex-basis: 100%;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 30px;
    opacity: 60%;
  }

  &__set-info{
    flex-basis: 100%;
    text-align: center;
    margin-top: 30px;
    opacity: 60%;
    font-size: 1.4rem;
  }

  &__hall-name{
    padding-bottom: 5px;
  }
}

.VS{
  font-weight: bold;
  font-size: 2rem;

  @include media(xsmall){
    font-size: 3rem;
  }

  @include media(small){
    font-size: 4rem;
  }
}

.button-match{
  display: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: .3s;

  @include media(large){
    display: block;
  }

  &:hover{
    background-color: #ccc;
  }
}
.prev-match{
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
  }
  .next-match{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
  }

.fas{
  font-size: 1.7rem;
}