.player-info{
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px 0;
  align-items: center;
  font-family: 'Lato', 'Roboto', 'sans-serif';
  &__navigation{
    width: 90%;
    flex-basis: 70px;
  }

  &__link{
    font-size: 2rem;
    text-decoration: none;
    color: white;
    transition: .3s;
    padding: 10px 0;
    height: 40px;
    &:hover{
      border-bottom: 2px solid white;
    }
    &-text{
      padding-left: 10px;
    }
  }

  &__article{
    padding-right: 5vw;
    padding-left: 7.5vw;

    @include media(xxlarge){
      padding-top: 200px;
    }

    @media (min-width: 1900px) {
      padding-top: 250px;
    }

  }

&__profile{
    width: 90%;
    position: relative;
  }

  &__container{
    width: 100%;
    position: absolute;
    height: 50%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    opacity: 0.4;

    @media (min-width: 600px) {
      height: 70%;
    }

    @include media(large){
      height: 100%;
    }

  }

  &__profile-container{
    height: 100%;
    width: 100%;
    position: relative;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0) 50%);
    border-radius: 10px;
  }

  &__content{
    width: 80%;
    color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
  }

  &__number{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    font-size: 21rem;
    font-weight: bold;
    font-family: 'Roboto', 'sans-serif';

    @media (min-width: 600px) {
      font-size: 35rem;
    }

    @include media(large){
     font-size: 50rem;
    }
  }

  &__photo{
    position: absolute;
    bottom: 297px;
    right: 0;
    width: 55%;

    @media (min-width: 600px) {
      bottom: 180px;
       width: 45%;
    }

    @include media(large){
     bottom: 0;
     width: 40%;
    }


    &-image{
      height: 260px;

      @media (min-width: 360px){
        height: 300px;
      }

      @media (min-width: 600px) {
      height: 410px;
    }

       @include media(large){
     height: 600px;
    }
    }
  }

  &__details{
    display: flex;
    flex-direction: column;
  }

  &__name-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 15px;
  }

  &__name{
    font-size: 3rem;
    font-weight: bold;
    padding-right: 20px;
    letter-spacing: 1px;
    flex-basis: 100%;

  @media (min-width: 600px) {
      font-size: 6rem;
    }    

    @include media(large){
     font-size: 9rem;
    }


  }

  &__position{
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: 1px;
    padding-left: 15px;

    @include media(large){
     font-size: 3rem;
    }

  }

  &__date{
    padding-top: 200px;
    display: flex;
    width: 90vw;
    margin: 0 auto;

    @media (min-width: 600px) {
      padding-top: 220px;
    }    


     @include media(large){
       padding-top: 100px;
      width: 70%;
      margin: 0;
      justify-content: space-between;
    }

    &-container{
      width: 50%;
    }

    &-text-container{
      padding-bottom: 15px;
      font-size: 1.5rem;
      opacity: 0.7;
      text-align: center;

      @include media(large){
     font-size: 1.8rem;
    }

    }

    &-text{
      padding-left: 10px;
      
    }

    &-number{
      font-weight: bold;
      text-align: center;
      font-size: 2rem;

      @include media(medium){
       font-size: 2.2rem;
    }

    }
  }

  &__additional-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__detail{
    text-align: center;
    flex-basis: 40%;
    margin-bottom: 50px;

    @include media(large){
      flex-basis: 25%;
      margin-bottom: 20px;
    }

    &-text{
      font-size: 1.5rem;
      padding-bottom: 10px;
      letter-spacing: 1px;
    }
    &-value{
      font-size: 2rem;
      font-weight: bold;
    }
  }

  &__description{
    padding: 50px 0 40px;
    letter-spacing: 1px;
    font-size: 1.8rem;
    line-height: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    &-text{
      text-indent: 20px;
      text-align: justify;
    }
  }

  &__previous-clubs{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    &-title{
      width: 100%;
      padding: 20px 0;
      font-size: 1.5rem;
      font-weight: bold;
      opacity: 0.6;
      letter-spacing: 1px;
    }

    &-container{
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }

    &-header-table{
      width: 100%;
      display: flex;
      font-size: 1.4rem;
      p{
        flex-basis: calc(100% / 3);
        text-align: center;
        opacity: 0.7;
      }
    }

    &-body-table{
      width: 100%;
      padding: 30px 0 50px;
    }

    &-body-line{
      display: flex;
      text-align: center;
      font-size: 1.5rem;
      span{
        flex-basis: calc(100% / 3);
        padding-bottom: 30px;
      }
    }

  }

}