.match{
  width: 100%;
  display: flex;
  // border-bottom: 1px solid gray;
  flex-wrap: wrap;
  padding: 15px;
  // margin-bottom: 10px;
  &-bgc{
    background: #aaa;
    border-radius: 10px;
    // border-bottom: none;
  }

  &__date{
    flex-basis: 100%;
    padding-bottom: 20px;
    display: flex;
      justify-content: center;
      align-items: center;

    @include media(medium){
      flex-basis: 20%;
      padding-bottom: 0;
    }

    &-day{
      font-size: 1.3rem;

      @include media(xsmall){
      font-size: 1.5rem;
    }

      // color: black;
    }
  }
  &__result{
    display: flex;
    flex-basis: 100%;

@include media(medium){
      flex-basis: 60%;
    }
    
    justify-content: space-evenly;
    align-items: center;

    @include media(medium){
border-left: 1px solid gray;
    border-right: 1px solid gray;
    }

    &-container{
      flex-basis: 70px;
      height: 60px;
      display: flex;
      // height: auto;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      letter-spacing: 1px;
      background-color: $main-color;
      border-radius: 20%;
      color: white;
      margin: 0 20px;
      padding: 0 10px;
      @include media(medium){
        padding: 0;
      }

      &--VS{
        background-color: transparent;
        color: black;
        border-radius: 0;
        font-weight: bold;
      }
    }

  }

  &__team{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
    font-size: 1.5rem;
    text-align: end;
    &--left{
      justify-content: center;
      text-align: start;
      .match__team-logo{
        margin-right:20px;
        margin-left: 0;
        order: -1;
        // padding-right: 20px;
        // padding-left: 0;
      }
    }
    // &:nth-child(2){
    //   justify-content: flex-start;
    // }
    // &:nth-of-type(2)-logo{
    //   // &-logo{
    //     order: 1;
    //   // }
    // }
    &-logo{
      
      width: 82px;
         height: 115px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0;
        
      @include media(xsmall){
      width: 115px;
    }

      @include media(medium){
        margin-left: 20px;
      }
      
      &-image{
width: 85px;
        @include media(xsmall){
      width: 100px;
    }

        @include media(small){
          
          width: 115px;
        }
        
        //  height: 115px;
        // border-radius: 50%;
      }
    }
  }

  &__small-points{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    padding-top: 20px;
    font-size: 1.5rem;

    @include media(medium){
      flex-basis: 20%;
      padding-top: 0;
    }

    &-set{
      padding: 0 5px;
      border-right: 1px solid gray;
      &:nth-last-of-type(1){
        border-right: none;
      }
    }
  }

  
  
}

.seperator{
  display: block;
  margin: 15px 0; 
  border-top: 1px solid gray;
  flex-basis: 100%;
}