.footer{
  margin-top: auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #262626;
  justify-content: center;
  position: relative;
  z-index: 20;
  &__sponsors{
    flex-basis: 100%;
    display: flex;
    // justify-content: space-evenly;
    // background-color: #aaa;
    flex-wrap: wrap;
    &-title{
      color: #ddd;
      background-color: lighten(#262626, 10%);
      flex-basis: 100%;
      padding: 40px 0 40px 40px;
      // text-align: center;
      font-size: 4rem;
      font-weight: 300;
    }
    &-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 20px;
      margin-top: 20px;
      // flex-basis: 80%;
    }
    &-container-image{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 20%;
      background-color: white;
      border-radius: 30%;
      padding: 10px 0;
    }
    &-image{
      width: 70%;
      opacity: 0.7;
      transition: opacity .5s linear;
      filter: grayscale(100%);
      &:hover{
        opacity: 1;
        filter: grayscale(0%);
      }
    }
  }

  &__copyright{
    flex-basis: 80%;
    font-size: 1.3rem;
    display: flex;
    // text-align: center;
    background-color: #262626;
    padding: 20px 0;
    color: #ddd;
    border-top: 2px solid gray;
    margin-top: 40px;
    &-info:nth-of-type(1){
      flex-basis: 70%;
       opacity: 0.7;
    }
    &-info:nth-of-type(2){
      flex-basis: 30%;
      opacity: 0.7;
      text-align: end;
    }
  }
}