.header{
  height: 250px;
  background-color: white;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 20;
  &__logo-volleyball-team{
   display: block;
   position: absolute;
    top: 0px;
    left: 10px;
    height: 95%;
    // cursor: pointer;
    z-index: 1;
  }
  &__image-volleyball-team{
    // width: 100%;

    height: 100%;
    
  }
  &__upper{
    flex-basis: 100%;
    height: 50%;
    // margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    // background-color: black;
  }

  &__official-site-text{
    flex-basis: 275px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 250px;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: 'Open Sans', 'Roboto', 'sans-serif';
    letter-spacing: 2px;
    position: relative;
    z-index: 2;
    line-height: 2rem;
    margin-bottom: 20px;
    p{
      flex-basis: 100%;
      
    }
  }

  &__logo-company-extrans{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
  }
  &__image-company-extrans{
    height: 100%;
  }
  &__team-info{
    display: flex;
    flex-basis: 40%;
    font-size: 1.3rem;
    justify-content: space-between;
  }
  &__social{
    flex-basis: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    font-size: 3rem; 
    height: 50px;

    &-item{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      text-decoration: none;
      transition: .3s;
      border-radius: 50%;
      &:hover{
        background-color: $main-color;
      }

      &:hover .fab{
          color: white;
      }

      .fab{
        transition: .3s;
        // width: 30px;
        // height: 30px;
        border-radius: 50%;
        color: black;
      }
    }
  }
  &__contact{
    // flex-grow: 1;
    flex-basis: 40%;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;

    align-items: space-evenly;
    margin-left: 25px;
    margin-right: 10px;
    // padding-top: 20px;
    &-item{
      flex-basis: 100%;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;  
    transition: .5s;

    align-items: space-evenly;
    opacity: 0.5;
    // margin-left: 50px;
    &:hover{
      opacity: 1;
      color: $main-color;
    }
    }

    &-info{
      display: flex;
      // justify-content: flex-end;
      padding-left: 10px;
      align-items: center;
      flex-basis: 90%;
    }
    .fas{
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 10%;
    }
  }

}