.comment{
  padding: 20px 0 40px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  &:nth-of-type(1){
    border-top: 1px solid rgba(0,0,0,0.2);
  }

  &__user{
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 20px;
    // flex-basis: 75%;
  }

  &__date{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    opacity: 0.6;
    margin-top: 20px;
    // flex-basis: 25%;
  }

  &__text{
    flex-basis: 100%;
    margin-top: 30px;
    font-size: 1.8rem;
    font-family: 'Open Sans', 'Roboto', 'sans-serif';
    line-height: 3rem;
    letter-spacing: 1px;
  }

  &__delete-item{
    cursor: pointer;
    position: absolute;
    border: none;
    top: 10px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: lighten(red, 10%);
    border-radius: 5px;
    transition: .3s;
    color: white;
    &:hover{
      background-color: #eee;
      color: red;
    }

    .fa-times{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}