.article-item{
  font-family: 'Lato', 'Roboto', 'sans-serif';
  background-color: #eee;
  &__photo{
    position: relative;
    &-bgc{
      width: 100%;
      height: auto;
      max-height: 450px;
      object-fit: cover;
    }
  }

  &__text-container{
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    &--player-info{
      width: 100%;
      background-color: black;
      
    }
  }

  &__text{
    flex: 0 0 calc(100%);
    max-width: calc(100%);

    @include media(large){
      flex: 0 0 calc(100% * 2 / 3);
    max-width: calc(100% * 2 / 3);

    }

    &-skew-container{
      margin-bottom: 19rem;
      transform: skewY(-10deg);
      transform-origin: right;
      background-color: white;

      &--club{
        position: relative;
        z-index: 100;
      }

    }

    &-content{
      transform: skewY(10deg);
      transform-origin: right;
      justify-content: flex-end;
      padding-right: 5vw;
      padding-left: 9.5vw;
      display: flex;
      flex-direction: column;

      &--player-info{
        padding-top: 150px;
        padding-right: 7vw;
        margin-top: -50px;
        z-index: 20;
      }

      &--club{
        margin-top: -40px;
      }

    }

    &-author{
      opacity: 0.6;
      font-size: 1.3rem;
      margin-top: 15px;
      margin-bottom: 20px;
    }

    &-title{
      padding-bottom: 50px;
     font-size: 3rem;
        letter-spacing: 1px;
        line-height: 5rem;
        margin-top: 20px;

      @include media(small){
        font-size: 4rem;
      line-height: 6rem;
      }

      @include media(large){
        font-size: 5rem;
      letter-spacing: 2px;
      line-height: 7rem;
      margin-top: 0;
      }

    }

    &-date{
      border-top: 1px solid gray;
      padding: 20px 0;
      letter-spacing: 2px;
      font-size: 1.2rem;
    }

    &-subtitle{
      font-weight: 400;
      margin-top: 30px;
      margin-bottom: 50px;
      font-size: 2rem;
      line-height: 5rem;
      text-align: left;
      line-height: 2.2;

      @include media(small){
        font-size: 3rem;
      }

      @include media(large){
        font-size: 3rem;
        text-align: justify;
        line-height: 5.2rem;
        text-indent: 30px;
      }

    }

    &-paragraph{  
      text-align: justify;
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 20px;
      line-height: 4.5rem;
      text-indent: 30px;

      @include media(small){
        font-size: 1.6rem;
      }

      @include media(large){
        font-size: 1.7rem;
      }

    }

  }

  &__bottom-gradient{
    margin-top: 0;
    height: 120px;

    @include media(xsmall){
      height: 200px;
    }

    @include media(small){
      height: 270px;
    }

    @include media(medium){
      height: 340px;
    }

    @include media(large){
      height: 395px;
  margin-top: -150px;
    }
  }

  &__comments{
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    margin-bottom: 50px;
    justify-content: center;
    &-title{
      flex-basis: 100%;
      text-align: center;
      font-size: 3rem;
      padding: 20px 0;
    }

    &-info{
      font-size: 2rem;
      padding: 20px 0;
      text-align: center;
      margin-bottom: 20px;
    }

    &-users{
      flex-basis: 100%;
      @include media(medium){
flex-basis: 70%;
      }
      
    }

    &-form{
      margin: 20px 0;
    }

    &-textarea-wrapper{
      min-height: 200px;
         width: 100%;;
         background-color: #fff;
         border-radius: 30px;
         position: relative;
         z-index: 1;
     
    }

    &-textarea{
      resize: none;
      min-height: 200px;
      padding: 20px 35px 0;
      display: block;
      width: 100%;
      position: relative;
      border-radius: 30px;
      font-size: 1.8rem;
      line-height: 2rem;
      border: none;
      outline: none;
      margin: 0 auto;
      max-width: 1000px;
      
       &:focus{
        border: 2px solid $main-color;
         padding: 18px 33px 0;
      }
    }



    &-button{
      margin: 20px auto 50px;
      display: block;
      background-color: #1A1A1A;;
      color: white;

      &:hover{
        background-color: white;
        color: #1A1A1A;
      }
    }

  }

}